{% extends 'Recognition/admin_base.html' %}
{% load static %}
{% block body %}
    <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                    <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Student Details</h4>
                                    <p>All about students like name, student id, phone, email, country, city and more</p>
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>First Name</th>
                                                    <th>Second name</th>
                                                    <th>Department</th>
                                                    <th>Reg no</th>
													<th>edit user</th>
													<th>edit student</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for student in students %}
                                                <tr>
                                                    <td><span class="list-img"><img src="{{student.image_url  }}" alt=""></span>
                                                    <td>{{ student.student_fname }}</td>
                                                    <td>{{ student.student_lname }}</td>
                                                    <td><span class="list-enq-name">{{ student.department}}</span></td>
                                                    <td>{{ student.reg_no }}</td>
                                                    <td><a href="{% url 'recognition:user-update' student.user_id %}" class="ad-st-view">View User</a></td>
													<td><a href="{% url 'recognition:user-update' student.student_id %}" class="ad-st-view">View Student</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}