<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    {% load static %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'Recognition/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Recognition/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Recognition/css/bootstrap.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'Recognition/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Recognition/css/style-mob.css' %}">

</head>
<body>
    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <ul>
                        <li>
                            <a class="navbar-brand" href="{% url 'Recognition:home' %}">Egerton University</a>
                        </li>
                    </ul>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Student portal</h4>
                            <ul>
                                <li><a href="course-details.html">Home</a></li>
                                <li><a href="course-details.html">Unit Booking</a></li>
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Logout</a></li>

                            </ul>
                            <h4>User Profile</h4>
                            <ul>
                                <li><a href="dashboard.html">User profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: Njoro Road, Mau Narok road, Nakuru.</a>
                                </li>
                                <li><a href="#">Phone: +101-1231-1231</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="{% url 'Recognition:login' %}" data-toggle="modal" methods="get">Sign In</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <a class="navbar-brand" href="{% url 'Recognition:home' %}">Egerton University</a>
                            </li>
                        </ul>
                        <div class="main-menu">
                            <ul>
                                <li>
                                    <a href="{% url 'recognition:home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'recognition:unit-booking' %}">Book Unit</a>
                                </li>
                                <li>
                                    <a href="dashboard.html">Profile</a>
                                </li>
                                <li>
                                    <a href="{% url 'recognition:logout' %}">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>

        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>

                                    </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--END HEADER SECTION-->


        <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello Student</h1>
                    <p>Log in to Your Portal</p>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'Recognition/images/cancel.png' %}" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello Student</h1>
                    <p>Have you filled in your details? Fill in your Details. It's take less then a minutes</p>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'Recognition/images/cancel.png' %}" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>You have to fill in your details before Registration Day.</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>First name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>Second name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="text" class="validate">
                                <label>Index Number</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <select class="validate">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{#<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #555555">#}
{#      <a class="navbar-brand" href="{% url 'Recognition:home' %}">Face Recognition</a>#}
{#      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbarsExample01">#}
{#        <ul class="navbar-nav ml-auto my-2 my-lg-0">#}
{#          <li class="nav-item active">#}
{#            <a class="nav-link" href="{% url 'Recognition:home' %}">Home <span class="sr-only">(current)</span></a>#}
{#          </li>#}
{#        {% if request.user.is_admin%}#}
{#                    <li class="nav-item">#}
{#                            <a class="nav-link" href="http://127.0.0.1:8000/admin">admin</a>#}
{#                    </li>#}
{#        {% endif %}#}
{#            {% if request.user.is_authenticated%}#}
{#                {% if not request.user.is_admin %}#}
{#                      <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'Recognition:lecturers' %}">Lecturers</a>#}
{#                      </li>#}
{#                      <li class="nav-item">#}
{#                        <a class="nav-link " href="{% url 'Recognition:student-add' %}">Students</a>#}
{#                      </li>#}
{#                      <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'Recognition:unit-booking' %}">Unit booking</a>#}
{#                      </li>#}
{#                      <li class="nav-item">#}
{#                        <a class="nav-link " href="{% url 'Recognition:recognize-student' %}">Recognize</a>#}
{#                      </li>#}
{#                      <li class="nav-item">#}
{#                        <a class="nav-link " href="{% url 'Recognition:units' %}">Units</a>#}
{#                      </li>#}
{#                     <li class="nav-item">#}
{#                        <a class="nav-link " href="{% url 'Recognition:department'%}">Departments</a>#}
{#                    </li>#}
{#                    {% endif %}#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link " href="{% url 'Recognition:logout' %}">Logout</a>#}
{#                  </li>#}
{#            {% else %}#}
{#                     <li class="nav-item">#}
{#                            <a class="nav-link " href="{% url 'Recognition:login' %}">Login</a>#}
{#                     </li>#}
{#                     <li class="nav-item">#}
{#                            <a class="nav-link " href="{% url 'Recognition:register' %}">Register</a>#}
{#                     </li>#}
{#            {% endif %}#}
{##}
{#        </ul>#}
{##}
{#      </div>#}
{#    </nav>#}


{% block body %}
{% endblock %}



<script src = {% static 'Recognition/js/main.min.js' %}></script>
<script src = {% static 'Recognition/js/bootstrap.min.js' %}></script>
<script src = {% static 'Recognition/js/materialize.min.js' %}></script>
<script src = {% static 'Recognition/js/custom.js' %}></script>
</body>






</html>