
 {% extends 'Recognition/base.html' %}

{% block body %}
{% load static %}
<h1>We are about to confirm here</h1>
    {% for i in students.items %}
        <div class="col-md-4">
        <form action="{% url 'recognition:confirm-student' i.0 %}" method="post">
            {% csrf_token %}
        <button type="submit">
            <img alt = "image" src="{{ i.1 }}"  style="transform:rotate(0deg); height: 100px; width: 100px;">
        </button>
        </form>
        <h3>{{ i.0 }}</h3>
        </div>

    {% endfor %}

 {% endblock %}