{% extends 'Recognition/base.html' %}
{% load static %}
{% block body %}
    <div id="modal1"  role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello Student</h1>
                    <p>Log in to Your Portal</p>
                </div>
                <div class="log-in-pop-right">

                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
             <form method="post" enctype="multipart/form-data" class="s12">
                 {% csrf_token %}

                {% include 'Recognition/login_form.html' %}

                    <div>
                        <div class="input-field s4">
                            <input type="submit" value="Login" class="waves-effect waves-light log-in-btn">
                        </div>
                    </div>
             </form>
         </div>
    </div>
   </div>
{% endblock %}