 {% extends 'Recognition/admin_base.html' %}
{% block body %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search course and discount courses">
                                    </div>
                                    </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


    <div class="sb2-2-3">
                    <div class="row">
                        <!--== Listing Enquiry ==-->
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Units</h4>
                                    <p>Education is about teaching, learning skills and knowledge.</p>
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Unit code</th>
                                                    <th>Unit Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for unit in units %}

                                                <tr>
                                                    <td><span class="list-enq-name">{{ unit.unit_code}}</span></td>
													<td>{{ unit.unit_title }}</td>
                                                    <td>
                                                        <a href="{% url 'recognition:unit-update' unit.id %}" class="ad-st-view">Update</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




 {% endblock %}